<!-- Cards with media area -->
<div id="cards-background">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>Project X</mat-card-title>
      <mat-card-subtitle>Coming Soon...</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      Maybe
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title-group>
      <mat-card-title>Project Y</mat-card-title>
      <mat-card-subtitle>Coming Eventually...</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      Obviously
    </mat-card-content>
  </mat-card>
</div>
