<p>
  I had tried a few programming languages over the years, but currently I´m trying to get better at a few:
</p>
<div>
  WORK:&nbsp;
  <span id="python">Python</span>,&nbsp;
  <span id="c-sharp">C#</span>&nbsp;
  as well as special Software like Ignition SCADA (iductive automation) and MES Software.
</div>
<br />
<div>
  PRIVATE: I´m currently learning more about
  <span id="html">HTML </span>,
  <span id="css">CSS </span>,
  <span id="type-script">TypeScript</span>
  in the framework
  <span id="angular">Angular</span>
  to create interesting Websites.
</div>
<br />
<div>
  Mostly I work with the IDE
  <span id="v-studio"> Visual Studio </span>.
</div>
