<p>
  Hello my Name is T-Al-D (26 years, Germany) and I inspire to become a part of the vast IT-World!
</p>
<p>
  Currently I am at the beginning of my
  <a href="https://www.ihk.de/hamburg/en/produktmarken/training/vocational-training-dual-system-1147578" target="_blank">3-year vocational training</a>
  to become an IT-Specialist in data and process analysis.
</p>
<p>
  For me learning new thing is a a life-long experience which can be very satisfying and rewarding,
  even if it sometimes gets hard or frustrating.
</p>
<p>
  Therefore I always remember:
</p>
<div class="exception">
  <h3> try{{"{"}} </h3>
  <p>&nbsp; Give your best while experiencing and learning something new. </p>
  <h3>{{"}"}}  catch(failure){{"{"}} </h3>
  <p>&nbsp; Unfortunatley it didn´t work this time, maybe next time with a new approach or method ?</p>
  <h3>{{"}"}} finally{{"{"}} </h3>
  <p>&nbsp; Become a bit wiser and more satisfied with what you have accomplished!</p>
  <h3> {{"}"}} </h3>
</div>
