<p>
  Hello my Name is T-Al-D (26 years, Germany) and I inspire to become a part of the vast IT-World!
</p>
<p>
  Currently I am at the beginning of my
  <a href="https://www.ihk.de/hamburg/en/produktmarken/training/vocational-training-dual-system-1147578" target="_blank">3-year vocational training</a>
  to become an IT-Specialist in data and process analysis.
</p>
<p>
  For me learning new thing is a a life-long experience which can be very satisfying and rewarding,
  even if it sometimes gets hard or frustrating.
</p>
<p>
  When I´m not busy with IT-Stuff, I like to work-out a bit (3 times a week) and relax afterwards.
</p> 
