<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">

    <mat-toolbar id="about-me">AboutMe()</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="about-me/intro"><mat-icon>face</mat-icon> &nbsp; introduction</a>
      <a mat-list-item routerLink="about-me/knowlege"><mat-icon>memory</mat-icon>&nbsp; knowlege</a>
    </mat-nav-list>

    <mat-toolbar id="load-portfolio">LoadPortfolio()</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="load-portfolio/projects"><mat-icon>folder_open</mat-icon>&nbsp; projects</a>
      <a mat-list-item routerLink="#"><mat-icon>priority_high</mat-icon>&nbsp; ...</a>
    </mat-nav-list>

    <mat-toolbar id="activate-fun">HaveFun()</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="have-fun/move-io"><mat-icon>casino</mat-icon>&nbsp; Move.IO</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content class="side-nav-header">
    <mat-toolbar>

      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async"
              class="side-nav-header">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="side-nav-header">/* &nbsp; TODO: click left to discover more &nbsp; */</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- ROUTER -->
    <div class="router">
      <canvas #canvasRef></canvas>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

