<div id="background">
  <div id="mini-header">
    <h3> Stay On Board (only CSS and HTML !)</h3>
  </div>

  <div id="information">
    <details>
      <summary>RULES</summary>
      Just stay on the bord (with your mouse), while it moves or else you have to restart from the
      beginning.
      Once the "board" has filled up and stays still, while you are (hopefully) still on it,
      YOU WIN!
    </details>
    <details>
      <summary>OTHER INFO</summary>
      I though of this game as a challenge try and see how far I can go with only CSS and HTML.
      Of course I didn´t add more to the TypeScript than Angular already did!
      I tested it, yes every difficulty can be beaten at least once!
    </details>
    <details>
      <summary>HINTS</summary>
      You might want to turn off the mouse-effects (bottom-right-corner) to have better animations
      (they still execute in the background) or you have to reload the page.
      Don´t let looks deceive you, the loading in the "bord" dosen´t fill up equaly over time!
    </details>
  </div>

  <div id="quiz">
    <p>
      <strong> Quiz:</strong>
      Now that you have played, how many <strong> transition-stages </strong> has each difficulty ?
    </p>
    <details>
      <summary> VERY EASY</summary>
      4
    </details>
    <details>
      <summary> EASY</summary>
      5
    </details>
    <details>
      <summary> INTERMEDIATE</summary>
      10
    </details>
    <details>
      <summary> HARD</summary>
      14
    </details>
    <details>
      <summary> VERY HARD</summary>
      20
    </details>
  </div>

  <div id="game-interface">
    <div id="very-easy-board">
      VERY EASY (15s)
    </div>
    <div id="easy-board">
      EASY (30s)
    </div>
    <div id="intermediate-board">
      INTERMEDIATE (45s)
    </div>
    <div id="hard-board">
      HARD (60s)
    </div>
    <div id="very-hard-board">
      VERY HARD (75s)
      <small> basically insane XD</small>
    </div>
  </div>
</div>
