/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
  background: #000000e6;
  color: #ffffff;
  font-family: Cambria, Calibri, Arial, Times New Roman, serif;
}
