
mat-toolbar {
  height: 2.8rem;
  margin: 0;
  border-radius: 10px;
  background: linear-gradient(20deg, #ff0000, #9c2ae0ff, #121fad);
}

button {
  position: relative;
  height: 2rem;
  width: 7rem;
  color: #ffffff;
  font: 2rem;
  font-weight: bolder;
  border-radius: 0.5rem;
  background: radial-gradient(#035104 45%, #dded0b);
  transition: 0.5s all ease-in-out;
}

  button:hover {
    color: #000000;
  }

#game-router {
  position: relative;
}
